name: Multiple Job CI

on: push


## i want 4 different joobs to lint, build, test and deploy
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Lint Code
        run: |
          echo "Linting code..."
          # Add your linting commands here

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - name: Build Project
        run: |
          echo "Building project..."
          # Add your build commands here

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Run Tests
        run: |
          echo "Running tests..."
          # Add your testing commands here

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: Deploy Application
        run: |
          echo "Deploying application..."
          # Add your deployment commands here