name: Standard CI

# Trigger
on: push

jobs: 
    build-test:
        name: Build test and deploy
        runs-on: ubuntu@latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Run lint
              run: npm run lint

            - name: build
              run: npm run build
            
            - name: Run test
              run: npm run test
            
            - name: Run deoloy
              run: npm run deploy