name: Multiple Job CI

on: push

jobs:
    setup-build:
        name: Build

        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: 'npm'

    test:
        name: Test

        runs-on: ubuntu-latest
        needs: setup-build

        steps:
            - name: Install dependencies
              run: npm install

            - name: Run lint
              run: npm run lint

            - name: Run test
              run: npm run test